body {
  font-family: Montserrat;
  font-size: 16px;
  background: $body-bg;
  color: $white;
}

.page-content {
  min-height: calc(100vh - 160px);
}

.container {
  @extend %container;
}

.logo {
  display: block;
  height: 65px;
  padding: 7px 0;

  @include breakpoint($tab) {
    height: 80px;
  }

  img {
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
  }
}

.page-header,
.page-footer {
  background-color: $header-bg;
  overflow: hidden;
  color: $white;

  .inner {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.page-header {
  height: 80px;

  @include breakpoint($tab) {
    height: 80px;
  }

  .logo {
    margin-right: 80px;
  }

  .menu-main {
    flex-grow: 1;
  }

  .menu-help .menu {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
  }

  .menu-item {
    margin: 0 5px;
    font-weight: bold;
    color: $dark-grey;
    position: relative;

    &.active {
      color: $white;
      // pointer-events: none;

      &:before {
        position: absolute;
        content: '';
        display: block;
        left: 13px;
        width: calc(100% - 26px);
        height: calc(100% + 20px);
        top: -10px;
        background: linear-gradient(to top left,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 1.5px),
             $red 50%,
             rgba(0,0,0,0) calc(50% + 1.5px),
             rgba(0,0,0,0) 100%);
        // transform: rotate(-45deg);
      }
    }
  }

  .menu-link {
    padding: 10px 13px;
  }

  .menu-link:hover {
    color: $white;
  }

  .menu-link:active {
    color: $darker-grey;
  }

  .book-button {
    border-radius: 28px;
    border: solid 2px $offblack;
    font-weight: bold;
    display: flex;
    color: $white;
    font-size: 0;


    @include breakpoint(0 $tab) {
      &:before {
        @include line($line-calendar);
        font-size: 15px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    @include breakpoint($tab) {
      font-size: 14px;
      padding: 19px 31px;
    }

    &:hover {
      background: $red;
      border: solid 2px $red;
    }

    &:active {
      background: transparent;
      border: solid 2px $grey;
      color: $red;
    }
  }

  .search {
    font-size: 0;

    &:before {
      font-size: 20px;
      @include line($line-magnifier);
    }
  }

  .login {
    display: flex;
    align-items: center;

    &:before {
      @include line($line-user);
      margin-right: 12px;
    }
  }

  .search,
  .login {
    color: $white;

    &:hover {
      color: $dark-grey;
    }

    &:active {
      color: $darker-grey;
    }
  }
}

.hero {
  background: url('/images/lazarus.jpg') center;
  background-size: cover;
  color: $white;
  text-align: center;

  @include breakpoint($tab) {
    padding-bottom: 0;
    height: calc(100vh - 80px);
    text-align: left;
  }

  .cover {
    background: linear-gradient(to bottom,
      rgba(0,0,0,0.8) 0,
      rgba(0,0,0,0.2) 50%,
      rgba(0,0,0,0.8) 100%);
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 100px;

    @include breakpoint($tab) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .inner {
    @extend %container;
    overflow: hidden;
  }

  .hero-text {
    font-weight: bold;
    display: block;
    font-size: 23px;
    padding-top: 41px;

    br {
      display: none;
    }

    @include breakpoint($tab) {
      font-size: 100px;
      letter-spacing: -4.91px;
      padding-top: calc((100vh - 80px) * 245 / 966);

      br {
        display: block;
      }
    }

    @include breakpoint($desk) {
      font-size: 120px;
    }
  }

  .hero-subtext {
    font-size: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 50px;
    display: block;

    @include breakpoint($tab) {
      font-size: 12px;
      margin-top: 70px;
      display: flex;
      align-items: center;

      &:before {
        content: '';
        display: inline-block;
        height: 1px;
        width: 80px;
        margin-right: 25px;
        background: $white;
      }
    }

    &:hover {
      color: $red;
      cursor: pointer;
    }

    &:active {
      color: darken($red,5%);
    }
  }
}

.frontpage-section {
  .frontpage-section-inner {
    @extend %container;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

    @include breakpoint($tab) {
      padding-top: 160px;
    }

    &:before {
      content:'';
      display: block;
      width: 32px;
      height: 4px;
      background-color: #333333;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 40px;

      @include breakpoint($tab) {
        top: 120px;
      }
    }
  }

  .frontpage-section-title {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-bottom: 51px;

    @include breakpoint($tab) {
      font-size: 44px;
      margin-bottom: 72px;
    }
  }
}

.frontpage-section--featured-rooms {
  .room {
    margin-bottom: 50px;

    @include breakpoint($tab) {
      margin-bottom: 120px;
    }

    &:nth-child(2n) {
      @include breakpoint($desk) {
        flex-direction: row-reverse;

        .book-now,
        .notify-me {
          margin-left: auto;
        }
      }
    }
  }
}

.frontpage-section--how-it-works {
  background: $white;
  color: $darker-grey;

  .frontpage-section-title {
    color: #3c3c3c;
  }
}

.frontpage-section--testimonials {
  background: $white;
  color: $darker-grey;

  .frontpage-section-title {
    color: #3c3c3c;
  }
}

.frontpage-section--what-you-need {
  display: flex;
  align-items: stretch;
  background: #222222;
  padding: 50px 0;

  @include breakpoint($tab) {
    padding: 100px 0;
    height: 600px;
  }

  @include breakpoint($desk) {
    background: #222222 url('/images/takis.jpg') right center no-repeat;
  }
}

.what-you-need-inner {
  @extend %container;
  position: relative;

  @include breakpoint($tab) {
    overflow: visible;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    padding-left: 55px;
    max-width: 620px;
  }

  @include breakpoint($desk) {
    padding-left: 135px;
    max-width: none;
  }
}

.what-you-need-title {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 7px;
  color: rgba(255,255,255,0.7);
  margin-bottom: 30px;
  text-align: center;

  @include breakpoint($tab) {
    margin-bottom: 0;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, -100%) rotate(-90deg);
    transform-origin: right;
    padding-left: 20px;
    background: #222222;
  }
}

.what-you-need-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: 0 10px;
  overflow: hidden;

  @include breakpoint($tab) {
    height: 100%;
    padding: 0;
  }
}

.what-you-need-list-item {
  display: flex;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: $white;
  height: 45px;
  font-size: 14px;
  line-height: 1.45;

  @include breakpoint($tab) {
    font-size: 16px;
  }

  &:before {
    font-size: 42px;
    color: $red;
    margin-right: 28px;
    padding-left: 2px;
  }

  &.computer:before {
    @include icofont($icofont-computer);
  }

  &.fps:before {
    @include icofont($icofont-keyboard);
  }

  &.team:before {
    @include ion($ion-team);
    padding-bottom: 8px;
  }

  &.fun:before {
    @include icofont($icofont-fun);
  }
}

.frontpage-section--cta {
  padding-bottom: 80px;

  @include breakpoint($tab) {
    padding-bottom: 145px;
  }

  .frontpage-section-title {
    // color: #3c3c3c;
    line-height: 1.2;
    margin-bottom: 35px;
  }
}

.cta-button {
  @extend %cta-button;
  width: 191px;
  height: 56px;
}

.small-cta-button {
  @extend %cta-button;
  width: 91px;
  height: 26px;
}

.small-cta-button:hover {
  cursor: pointer;
  background: #690607;
  border-color: #690607;
}

.small-cta-button:active {
  cursor: pointer;
  background: transparent;
  border: solid 1px $grey;
}

.frontpage-section--jobs {
  font-size: 18px;
  padding-bottom: 160px;
  text-align: center;
  line-height: 1.4;

  p {
    margin-bottom: 35px;
  }
}

.page-footer {
  @include breakpoint($tab) {
    height: 80px;
    flex-direction: row;
  }

  .inner {
    flex-direction: column;

    @include breakpoint($tab) {
      flex-direction: row;
    }
  }
}

.footer-item--logo .name {
  padding-top: 0;
  margin: 0;
}

.footer-item {
  margin: 20px 0;
  display: flex;
  flex-direction: column;

  @include breakpoint($tab) {
    // flex: 1 1 0px;
    // margin: 0;
    flex-direction: row;
  }
}

.footer-item--copyright {
  text-align: center;
  order: 1;

  @include breakpoint($tab) {
    order: 0;
  }

  .link:hover {
    color: $red;
  }

  .link:active {
    color: darken($red, 10%);
  }
}

.copyright-element {
  display: block;
  padding: 3px 0;

  &.divider {
    display: none;
  }

  @include breakpoint($desk) {
    &,
    &.divider {
      display: inline;
    }
  }
}

.footer-item--social {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      background: $red;
    }

    &:active {
      background: darken($red, 10%);
    }

    &:before {
      font-size: 16px;
    }

    &.facebook:before {
      @include icofont($icofont-facebook);
    }

    &.instagram:before {
      @include icofont($icofont-instagram);
    }
  }
}
