@font-face {
  font-family: ionicons;
  src: url('/fonts/ionicons.ttf');
  font-display: swap;
}

@font-face {
  font-family: lineicons;
  src: url('/fonts/simple-line-icons.woff2');
  font-display: swap;
}

@font-face {
  font-family: icofont;
  src: url('/fonts/icofont.ttf');
  font-display: swap;
}

::selection {
  background-color: $redHighlight;
}

::moz-selection {
  background-color: $redHighlight;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/**
* Make the field a flex-container, reverse the order so label is on top.
*/

.floating-label {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the
  * pesky delay.
  */
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    background: none;
    color: $white ;
    padding: 5px 0;
  }

  input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }

  label {
    // text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2rem) scale(1.2);
    color: #999;
  }

  /**
  * By default, the placeholder should be transparent. Also, it should
  * inherit the transition.
  */
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
  * Show the placeholder when the input is focused.
  */
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when
  * there's something in the input at all.
  */
  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
    color: $white;
  }
}


/* Customize the label (the container) */
.styled-radios-label {
    font-size: 1.5em;
}

.styled-radios {
  margin-left: -15px;
  padding-top: 1em;

  .label {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
  }

  /* Hide the browser's default radio button */
  .label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .checkmark {
    height: 5px;
    width: 5px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    order: -1;
    margin-right: 10px;
  }

  /* On mouse-over, add a grey background color */
  .label:hover input ~ .checkmark {
    background: $white;
  }

  /* When the radio button is checked, add a blue background */
  .label input:checked ~ .checkmark {
    background-color: $white;
  }

  .label input:checked ~ .text {
    color: $white;
  }
}
