.booking-form {
  width: 280px;
  margin: 30px auto;

  @include breakpoint($tab) {
    width: 500px;
  }
  .highlight {
    color: $red;
  }

  .cta-button {
    @extend %cta-button;
    font-size: 24px;
  }
}

.booking-title {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-top: 51px;
  margin-bottom: 10px;
  line-height: 1.25;

  .highlight {
    color: $red;
  }
}

.terms {
  display: flex;
  margin-top: 10px;
}

.terms-checkbox {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.terms-label {
  @extend %checkbox-things;

  a {
    text-decoration: underline;
  }
}

.notify-terms {
  margin-bottom: 25px;

  @include breakpoint($tab) {
    margin-bottom: 65px;
  }
}

.change-link-container {
  text-align: center;
  margin-bottom: 51px;
  margin-top: 20px;

  .change-link {
    &:hover {
      color: $red;
    }

    &:active {
      color: darken($red, 10);
    }
  }
}

.required-message {
  font-size: 0.8em;
  margin: 20px 0;
}

.payment-instructions {
  line-height: 1.4;
  margin: 20px 0 40px;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thankyou-message {
  text-align: center;
  margin: 30px auto;
}

.thankyou-back-to-front {
  margin: 30px auto;
}
