.message {
  padding-top: 60px;
  text-align: center;
}

.calendar-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: $white;
  margin-top: 20px;
  margin-bottom: 10px;

  @include breakpoint($tab) {
    margin-top: 80px;
  }
}

.calendar-container {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;

  @include breakpoint($tab) {
    max-width: 700px;
  }

  .fully-booked {
    // display: block;
    padding-top: 100px;
    font-size: 1.2em;
  }
}

.calendar {
  display: inline-block;
  margin: 60px auto;
  padding-bottom: 200px;

  .week,
  .head {
    display: flex;
    max-width: 300px;

    @include breakpoint($tab) {
      max-width: 700px;
    }
  }

  .day {
    width: 108px;
    height: 56px;
    border: solid 1px #373737;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: $white;
    position: relative;
    overflow: hidden;

    @include breakpoint($tab) {
      height: 106px;
    }

    &.empty {
      opacity: 0.15;
      pointer-events: none;
    }


    .day-link {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include breakpoint($tab) {
        width: 45px;
        height: 45px;
      }

      &:hover {
        background: $white;
        color: #242424;
      }

      &:active {
        background: transparent;
        border: solid 1px $grey;
        color: $white;
      }

      &.active {
        background: $white;
        color: #242424;
      }
    }

    &.today .day-link {
      border: solid 2px $red;
    }

    &.last{
      color: $red;

      &:after {
        content: '1 AVAILABLE';
        width: 100%;
        display: none;
        position: absolute;
        bottom: 9px;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        font-size: 6px;
        font-weight: bold;
        color: $white;
        padding: 3px;

        @include breakpoint($tab) {
          font-size: 9px;
          display: block;
        }
      }
    }
  }

  .head .day {
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
    color: $white;
  }

  .details {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.2s ease, opacity 0.2s ease;

    &.open {
      max-height: 1224px; // 12 items
      opacity: 1;
      transition: max-height 0.4s ease, opacity 0.4s ease;
    }
  }

  .details-wrapper {
    border: solid 1px #373737;
    background-color: #333333;
    max-width: 300px;

    @include breakpoint($tab) {
      padding: 30px;
      max-width: 700px;
    }
  }

  .details-inner {
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: $white;
    padding: 35px 35px 17px;
  }

  .details-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #242424;
    margin-bottom: 20px;
  }

  .reservation-list {
    max-height: 1032px; // 12 items
    overflow-y: auto;
  }

  .reservation {
    padding-top: 5px;
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    color: #3c3c3c;
    border-top: 1px solid #e0e0e0;

    @include breakpoint($tab) {
      flex-direction: row;
      padding-top: 0;
    }

    .time,
    .count {
      display: block;
      text-align: center;
      padding: 3px 0;
    }

    .time {
      font-size: 12px;
      font-weight: bold;
      color: #3c3c3c;

      &:before {
        @include icofont($icofont-clock);
          font-size: 14px;
          color: #3c3c3c;
          margin-right: 7px;
      }
    }

    .count {
      font-size: 10px;
      letter-spacing: 1.7px;
      color: #9f9f9f;

      @include breakpoint($tab) {
        text-align: left;
      }
    }
  }

  .book-button {
    @extend %cta-button;
    width: 100px;
    height: 30px;
    margin-bottom: 5px;

    @include breakpoint($tab) {
      width: 140px;
      height: 50px;
      margin-bottom: 0;
    }
  }
}
