.cookie-consent {
  position: fixed;
  bottom: 0;
  background: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid $red;
  flex-direction: column;
  padding: 10px 0;
  text-align: center;
  line-height: 1.2;

  @include breakpoint($desk) {
    text-align: left;
    height: 50px;
    flex-direction: row;
    padding: 0;
  }

  a {
    text-decoration: underline;
    display: block;
    text-align: center;
    margin: 10px 0;

    @include breakpoint($desk) {
      margin: 0;
      display: inline;
    }
  }
}

.cookie-consent__agree {
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  padding: 4px 9px;
  cursor: pointer;
  display: block;

  @include breakpoint($desk) {
    display: inline-block;
  }
}

.cookie-consent-padding {
  height: 50px;
}
