.difficulty {
  color: $white;

  .locks {
    display: flex;
  }

  .lock {
    display: block;
    margin-right: 5px;

    &:before {
      @include ion($ion-lock);
    }
  }
}

.difficulty-1 {
  .lock:first-child {
    color: $red;
  }
}

.difficulty-2 {
  .lock:nth-child(-n+2) {
    color: $red;
  }
}

.difficulty-3 {
  .lock:nth-child(-n+3) {
    color: $red;
  }
}

.difficulty-4 {
  .lock:nth-child(-n+4) {
    color: $red;
  }
}

.difficulty-5 {
  .lock {
    color: $red;
  }
}
