
.notify-email {
  margin-bottom: 60px;

  @include breakpoint($tab) {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

.styled-radios .label:hover {
  color: #fff;

  #terms {
    border: solid 1px $red;
  }
}

.styled-radios .label:active {
  color: $red;
}

.notified-users {
  overflow: hidden;
}

.notified-user {
  margin: 10px 0;
}

.all-reservations {
  display: flex;
  flex-direction: column;
}

.admin-reservation {
  padding: 5px 15px;
  display: flex;
  border-bottom: 1px solid #fff;
}

.confirm-reservation {
  margin-left: auto;
}

.promo-btn-msg {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.menu-item:hover {
  color: #fff;
}

.booked {
  color: orange;
}

.available {
  color: green;
}

.terms-container {
  width: 280px;
  margin: 50px auto;
}

@media (min-width: 720px) {
  .terms-container {
    width: 700px;
  }
}

.inst-title {
  font-size: 23px;
}

.needs li {
  margin: 10px 0;
}

.needs li:last-child {
  margin-bottom: 30px;
}

.terms-container ul,
.needs ul {
  list-style: initial;
}

.terms a {
  text-decoration: underline;
}

.logoutbtn:hover {
  color: #c7070a;
}

.footer-link {
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 7px;

  @include breakpoint($tab) {
    margin-bottom: 0;
  }

  &:hover {
    color: $red;
  }

  &:active {
    color: darken($red, 10%);
  }
}

.hidden {
  display: none;
}

.logoutbtn {
  margin-left: auto;
  margin-right: 30px;
}

.terms-container h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.terms-container h2 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: bold;
}

.terms-container p {
  margin-bottom: 15px;
}

.terms-container li {
  margin-bottom: 10px;
}

.edit-room {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid red;
}

.edit-room textarea {
  width: 400px;
  height: 100px;
  margin-left: 10px;
}

.edit-room div {
  display: flex;
  margin: 10px;
}

.edit-room input {
  max-width: 200px;
  margin-left: 10px;
  margin-right: 5px;
}

.edit-room input[type=number] {
  width: 50px;
}

.update-room {
  margin: 20px auto;
  width: 100px;
  height: 30px;
}

.edit-room-price {
  margin-left: 50px;
}

.last-update {
  margin: 0 auto;
  margin-bottom: 15px;
}
