.pricing-table-cell {
  width: 96px;
  text-align: center;
  padding: 5px 0;

  &:first-child {
    text-align: left;
  }

  .pricing-table-head & {
    padding-top: 0;
  }
}

.pricing-table-head {
  font-weight: bold;
}

.pricing-table-body {
  font-weight: normal;

  .pricing-table-row:not(:first-child) {
    border-top: 1px solid #333;
  }

  .pricing-table-cell:first-child {
    padding-left: 15px;
  }
}
