.room {
  max-width: 300px;
  margin: 50px auto;

  @include breakpoint($tab) {
    max-width: none;
  }

  &.room--teaser {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    @include breakpoint($desk) {
      flex-direction: row;
    }

    .info {
      max-width: 100%;

      @include breakpoint($desk) {
        min-height: 480px;
        width: 410px;
      }
      background-color: #242424;
      padding: 30px 20px;

      @include breakpoint($tab) {
        padding: 35px;
      }

      @include breakpoint($desk) {
        padding: 60px 45px;
      }
    }
  }


  &.room--full {
    @include breakpoint($desk) {
      margin: 60px auto 0;
      width: 756px;
    }

    .subtitle {
      min-height: 190px;
    }

    .difficulty {
      margin-bottom: 25px;
    }

    .title {
      margin-bottom: 32px;
    }

    .subtitle {
      flex-shrink: 0;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
    }

    .subtitle-element {
      margin: 0;
      margin-top: 25px;

      @include breakpoint($tab) {
      margin-top: 0;
      padding-right: 80px;
    }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;
    }
  }

  .room-info-wrapper {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: stretch;

    @include breakpoint($tab) {
      flex-wrap: nowrap;
    }
  }

  .image-container {
    display: flex;
    align-items: center;

    @include breakpoint($desk) {
      width: 470px;
      height: 400px;
    }

    @include breakpoint($wide) {
      width: 557px;
    }
  }

  .difficulty {
    margin-bottom: 25px;

    @include breakpoint($desk) {
      margin-bottom: 30px;
    }
  }

  .title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;

    @include breakpoint($desk) {
      font-size: 32px;
      margin-bottom: 10px;
    }
  }

  .subtitle {
    display: flex;
    line-height: 1;
    color: $darker-grey;
    margin-bottom: 30px;

    @include breakpoint($desk) {
      margin-bottom: 40px;
      color: $white;
    }
  }

  .subtitle-element {
    margin-right: 25px;
    display: flex;
    align-items: center;
    font-size: 12px;

    @include breakpoint($desk) {
      font-size: inherit;
    }

    &:before {
      margin-right: 8px;
      color: #c2c2c2;
      font-size: 16px;

      @include breakpoint($desk) {
        color: inherit;
      }
    }

    .text {
      padding-top: 2px;
    }
  }

  .team-size {
    &:before {
      @include ion($ion-team);
    }
  }

  .duration {
    &:before {
      @include line($line-clock);
    }
  }

  .location {
    &:before {
      @include ion($ion-location);
      font-size: 1.4em;
    }
  }

  .coming-soon,
  .fully-booked {
    display: block;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: $white;
    margin-top: 20px;
    line-height: 1.4;
  }

  .description {
    font-size: 16px;
    line-height: 1.5;
    color: #ccc;
  }

  &.room--teaser .description {
    margin-bottom: 30px;

    @include breakpoint($desk) {
      margin-bottom: 45px;
    }
  }

  .book-now,
  .notify-me {
    @extend %cta-button;
    width: 142px;
  }
}

// .room .notify-me:hover,
// .room .book-now:hover {
//   cursor: pointer;
//   background: #690607;
//   border-color: #690607;
// }

// .room .notify-me:active,
// .room .book-now:active {
//   cursor: pointer;
//   background: white;
//   color: #f60b0e;
//   border-color: #690607;
// }

