.testimonials {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include breakpoint($tab) {
    padding-bottom: 80px;
  }

  @include breakpoint($desk) {
    padding-bottom: 180px;
    flex-direction: row;
  }

  @include breakpoint($wide) {
    width: 1140px;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  max-width: 555px;
  margin-bottom: 50px;

  @include breakpoint($desk) {
    margin-bottom: 0;
    padding: 43px 35px 25px;
    height: 350px;
  }

  @include breakpoint($wide) {
    width: 555px;
    height: 320px;
  }
}

.testimonial-quote {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  color: $darker-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @include breakpoint($desk) {
    margin-bottom: 0;
    height: 110px;
  }
}

.testimonial-image-container {
  border-radius: 50%;
  overflow: hidden;
  width: 78px;
  height: 78px;
  margin-bottom: 27px;
}

.testimonial-image {
  width: 78px;
  height: 78px;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: $darker-grey;
  text-transform: uppercase;

  @include breakpoint($desk) {
    position: absolute;
    bottom: 25px;
  }
}
