.usps {
  padding-bottom: 44px;
  max-width: 1140px;

  @include breakpoint($desk) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.usp {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 20px 44px;
  margin-bottom: 10px;
  width: 300px;

  @include breakpoint($tab) {
    width: 360px;
    margin-bottom: 50px;
  }

  @include breakpoint($desk) {
    width: 300px;
    margin-bottom: 95px;
  }

  @include breakpoint($wide) {
    width: 360px;
  }
}

.usp-title {
  font-weight: bold;
  text-align: center;
  color: #3c3c3c;
  margin-bottom: 28px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  @include breakpoint($tab) {
    font-size: 24px;
  }
}

.usp-body {
  line-height: 1.5;
  text-align: center;
  color: $darker-grey;
  font-size: 14px;

  @include breakpoint($tab) {
    font-size: 16px;
  }
}

.usp-icon {
  display: block;
  width: 120px;
  height: 174px;
  position: relative;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(to top left,
     rgba(0,0,0,0) 0%,
     rgba(0,0,0,0) calc(50% - 0.8px),
     $grey 50%,
     rgba(0,0,0,0) calc(50% + 0.8px),
     rgba(0,0,0,0) 100%);

  &:before {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 1px solid $grey;
    color: $grey;
    border-radius: 50%;
    background: $white;
  }

  .usp--locked-in &:before {
    @include line($line-lock);
  }

  .usp--online &:before {
    @include icofont($icofont-computer);
  }

  .usp--moderated &:before {
    @include ion($ion-team);
  }
}
