@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.terms-label input {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
  border: 0;
  padding: 0;
  margin: 0;
}

.what-you-need-inner,
.frontpage-section .frontpage-section-inner,
.hero .inner,
.page-header .inner,
.page-footer .inner,
.container {
  margin: 0 20px;
  overflow: hidden;
}

@media (min-width: 720px) {
  .what-you-need-inner,
  .frontpage-section .frontpage-section-inner,
  .hero .inner,
  .page-header .inner,
  .page-footer .inner,
  .container {
    margin: 0 auto;
    width: 680px;
  }
}

@media (min-width: 960px) {
  .what-you-need-inner,
  .frontpage-section .frontpage-section-inner,
  .hero .inner,
  .page-header .inner,
  .page-footer .inner,
  .container {
    width: 900px;
  }
}

@media (min-width: 1220px) {
  .what-you-need-inner,
  .frontpage-section .frontpage-section-inner,
  .hero .inner,
  .page-header .inner,
  .page-footer .inner,
  .container {
    width: 1140px;
  }
}

@media (min-width: 1440px) {
  .what-you-need-inner,
  .frontpage-section .frontpage-section-inner,
  .hero .inner,
  .page-header .inner,
  .page-footer .inner,
  .container {
    width: 1360px;
  }
}

.booking-form .cta-button,
.calendar .book-button,
.room .book-now,
.room .notify-me,
.small-cta-button,
.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 28px;
  background-color: #ac0609;
  border: solid 2px #ac0609;
  color: #ffffff;
}

.calendar .book-button:hover,
.room .book-now:hover,
.room .notify-me:hover,
.small-cta-button:hover,
.cta-button:hover {
  background: #490304;
  border: solid 2px #490304;
  cursor: pointer;
}

.calendar .book-button:active,
.room .book-now:active,
.room .notify-me:active,
.small-cta-button:active,
.cta-button:active {
  background: transparent;
  border: solid 2px #808080;
  color: #f60b0e;
}

.terms-label {
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: center;
}

.terms-label a:hover {
  color: #ac0609;
}

.terms-label a:active {
  color: #7b0406;
}

.terms-label .checkmark {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: none;
  background: #fff;
  border-radius: 3px;
  position: relative;
  order: -1;
  margin-right: 9px;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms-label .checkmark svg {
  padding-left: 1px;
  width: 80%;
  display: none;
}

.terms-label input:not(:checked) ~ .checkmark:hover svg {
  display: block;
}

.terms-label input:not(:checked) ~ .checkmark:hover svg path {
  stroke: #333;
}

.terms-label input:checked ~ .checkmark {
  background: #ac0609;
}

.terms-label input:checked ~ .checkmark svg {
  display: block;
}

.terms-label input:checked ~ .checkmark svg path {
  stroke: #fff;
}

body {
  font-family: Montserrat;
  font-size: 16px;
  background: #1b1b1b;
  color: #ffffff;
}

.page-content {
  min-height: calc(100vh - 160px);
}

.logo {
  display: block;
  height: 65px;
  padding: 7px 0;
}

@media (min-width: 720px) {
  .logo {
    height: 80px;
  }
}

.logo img {
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}

.page-header,
.page-footer {
  background-color: #050505;
  overflow: hidden;
  color: #ffffff;
}

.page-header .inner,
.page-footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.page-header {
  height: 80px;
}

@media (min-width: 720px) {
  .page-header {
    height: 80px;
  }
}

.page-header .logo {
  margin-right: 80px;
}

.page-header .menu-main {
  flex-grow: 1;
}

.page-header .menu-help .menu {
  display: flex;
  align-items: center;
}

.page-header .menu {
  display: flex;
}

.page-header .menu-item {
  margin: 0 5px;
  font-weight: bold;
  color: #777777;
  position: relative;
}

.page-header .menu-item.active {
  color: #ffffff;
}

.page-header .menu-item.active:before {
  position: absolute;
  content: "";
  display: block;
  left: 13px;
  width: calc(100% - 26px);
  height: calc(100% + 20px);
  top: -10px;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 1.5px), #ac0609 50%, rgba(0, 0, 0, 0) calc(50% + 1.5px), rgba(0, 0, 0, 0) 100%);
}

.page-header .menu-link {
  padding: 10px 13px;
}

.page-header .menu-link:hover {
  color: #ffffff;
}

.page-header .menu-link:active {
  color: #717171;
}

.page-header .book-button {
  border-radius: 28px;
  border: solid 2px #404040;
  font-weight: bold;
  display: flex;
  color: #ffffff;
  font-size: 0;
}

@media (min-width: 0) and (max-width: 720px) {
  .page-header .book-button:before {
    font-family: lineicons;
    content: "\E075";
    font-size: 15px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 720px) {
  .page-header .book-button {
    font-size: 14px;
    padding: 19px 31px;
  }
}

.page-header .book-button:hover {
  background: #ac0609;
  border: solid 2px #ac0609;
}

.page-header .book-button:active {
  background: transparent;
  border: solid 2px #808080;
  color: #ac0609;
}

.page-header .search {
  font-size: 0;
}

.page-header .search:before {
  font-size: 20px;
  font-family: lineicons;
  content: "\E090";
}

.page-header .login {
  display: flex;
  align-items: center;
}

.page-header .login:before {
  font-family: lineicons;
  content: "\E005";
  margin-right: 12px;
}

.page-header .search,
.page-header .login {
  color: #ffffff;
}

.page-header .search:hover,
.page-header .login:hover {
  color: #777777;
}

.page-header .search:active,
.page-header .login:active {
  color: #717171;
}

.hero {
  background: url("/images/lazarus.jpg") center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 720px) {
  .hero {
    padding-bottom: 0;
    height: calc(100vh - 80px);
    text-align: left;
  }
}

.hero .cover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8) 100%);
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 100px;
}

@media (min-width: 720px) {
  .hero .cover {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero .inner {
  overflow: hidden;
}

.hero .hero-text {
  font-weight: bold;
  display: block;
  font-size: 23px;
  padding-top: 41px;
}

.hero .hero-text br {
  display: none;
}

@media (min-width: 720px) {
  .hero .hero-text {
    font-size: 100px;
    letter-spacing: -4.91px;
    padding-top: calc((100vh - 80px) * 245 / 966);
  }

  .hero .hero-text br {
    display: block;
  }
}

@media (min-width: 960px) {
  .hero .hero-text {
    font-size: 120px;
  }
}

.hero .hero-subtext {
  font-size: 8px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 50px;
  display: block;
}

@media (min-width: 720px) {
  .hero .hero-subtext {
    font-size: 12px;
    margin-top: 70px;
    display: flex;
    align-items: center;
  }

  .hero .hero-subtext:before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 80px;
    margin-right: 25px;
    background: #ffffff;
  }
}

.hero .hero-subtext:hover {
  color: #ac0609;
  cursor: pointer;
}

.hero .hero-subtext:active {
  color: #930508;
}

.frontpage-section .frontpage-section-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

@media (min-width: 720px) {
  .frontpage-section .frontpage-section-inner {
    padding-top: 160px;
  }
}

.frontpage-section .frontpage-section-inner:before {
  content: "";
  display: block;
  width: 32px;
  height: 4px;
  background-color: #333333;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

@media (min-width: 720px) {
  .frontpage-section .frontpage-section-inner:before {
    top: 120px;
  }
}

.frontpage-section .frontpage-section-title {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 51px;
}

@media (min-width: 720px) {
  .frontpage-section .frontpage-section-title {
    font-size: 44px;
    margin-bottom: 72px;
  }
}

.frontpage-section--featured-rooms .room {
  margin-bottom: 50px;
}

@media (min-width: 720px) {
  .frontpage-section--featured-rooms .room {
    margin-bottom: 120px;
  }
}

@media (min-width: 960px) {
  .frontpage-section--featured-rooms .room:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .frontpage-section--featured-rooms .room:nth-child(2n) .book-now,
  .frontpage-section--featured-rooms .room:nth-child(2n) .notify-me {
    margin-left: auto;
  }
}

.frontpage-section--how-it-works {
  background: #ffffff;
  color: #717171;
}

.frontpage-section--how-it-works .frontpage-section-title {
  color: #3c3c3c;
}

.frontpage-section--testimonials {
  background: #ffffff;
  color: #717171;
}

.frontpage-section--testimonials .frontpage-section-title {
  color: #3c3c3c;
}

.frontpage-section--what-you-need {
  display: flex;
  align-items: stretch;
  background: #222222;
  padding: 50px 0;
}

@media (min-width: 720px) {
  .frontpage-section--what-you-need {
    padding: 100px 0;
    height: 600px;
  }
}

@media (min-width: 960px) {
  .frontpage-section--what-you-need {
    background: #222222 url("/images/takis.jpg") right center no-repeat;
  }
}

.what-you-need-inner {
  position: relative;
}

@media (min-width: 720px) {
  .what-you-need-inner {
    overflow: visible;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    padding-left: 55px;
    max-width: 620px;
  }
}

@media (min-width: 960px) {
  .what-you-need-inner {
    padding-left: 135px;
    max-width: none;
  }
}

.what-you-need-title {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: 720px) {
  .what-you-need-title {
    margin-bottom: 0;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, -100%) rotate(-90deg);
    transform-origin: right;
    padding-left: 20px;
    background: #222222;
  }
}

.what-you-need-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: 0 10px;
  overflow: hidden;
}

@media (min-width: 720px) {
  .what-you-need-list {
    height: 100%;
    padding: 0;
  }
}

.what-you-need-list-item {
  display: flex;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #ffffff;
  height: 45px;
  font-size: 14px;
  line-height: 1.45;
}

@media (min-width: 720px) {
  .what-you-need-list-item {
    font-size: 16px;
  }
}

.what-you-need-list-item:before {
  font-size: 42px;
  color: #ac0609;
  margin-right: 28px;
  padding-left: 2px;
}

.what-you-need-list-item.computer:before {
  font-family: icofont;
  content: "\EEEE";
}

.what-you-need-list-item.fps:before {
  font-family: icofont;
  content: "\EA40";
}

.what-you-need-list-item.team:before {
  font-family: ionicons;
  content: "\F212";
  padding-bottom: 8px;
}

.what-you-need-list-item.fun:before {
  font-family: icofont;
  content: "\EAFC";
}

.frontpage-section--cta {
  padding-bottom: 80px;
}

@media (min-width: 720px) {
  .frontpage-section--cta {
    padding-bottom: 145px;
  }
}

.frontpage-section--cta .frontpage-section-title {
  line-height: 1.2;
  margin-bottom: 35px;
}

.cta-button {
  width: 191px;
  height: 56px;
}

.small-cta-button {
  width: 91px;
  height: 26px;
}

.small-cta-button:hover {
  cursor: pointer;
  background: #690607;
  border-color: #690607;
}

.small-cta-button:active {
  cursor: pointer;
  background: transparent;
  border: solid 1px #808080;
}

.frontpage-section--jobs {
  font-size: 18px;
  padding-bottom: 160px;
  text-align: center;
  line-height: 1.4;
}

.frontpage-section--jobs p {
  margin-bottom: 35px;
}

@media (min-width: 720px) {
  .page-footer {
    height: 80px;
    flex-direction: row;
  }
}

.page-footer .inner {
  flex-direction: column;
}

@media (min-width: 720px) {
  .page-footer .inner {
    flex-direction: row;
  }
}

.footer-item--logo .name {
  padding-top: 0;
  margin: 0;
}

.footer-item {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 720px) {
  .footer-item {
    flex-direction: row;
  }
}

.footer-item--copyright {
  text-align: center;
  order: 1;
}

@media (min-width: 720px) {
  .footer-item--copyright {
    order: 0;
  }
}

.footer-item--copyright .link:hover {
  color: #ac0609;
}

.footer-item--copyright .link:active {
  color: #7b0406;
}

.copyright-element {
  display: block;
  padding: 3px 0;
}

.copyright-element.divider {
  display: none;
}

@media (min-width: 960px) {
  .copyright-element,
  .copyright-element.divider {
    display: inline;
  }
}

.footer-item--social {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-item--social .link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item--social .link:not(:first-child) {
  margin-left: 10px;
}

.footer-item--social .link:hover {
  background: #ac0609;
}

.footer-item--social .link:active {
  background: #7b0406;
}

.footer-item--social .link:before {
  font-size: 16px;
}

.footer-item--social .link.facebook:before {
  font-family: icofont;
  content: "\ED37";
}

.footer-item--social .link.instagram:before {
  font-family: icofont;
  content: "\ED46";
}

@font-face {
  font-family: ionicons;
  src: url("/fonts/ionicons.ttf");
  font-display: swap;
}

@font-face {
  font-family: lineicons;
  src: url("/fonts/simple-line-icons.woff2");
  font-display: swap;
}

@font-face {
  font-family: icofont;
  src: url("/fonts/icofont.ttf");
  font-display: swap;
}

::-moz-selection {
  background-color: rgba(246, 11, 14, 0.5);
}

::selection {
  background-color: rgba(246, 11, 14, 0.5);
}

::moz-selection {
  background-color: rgba(246, 11, 14, 0.5);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/**
* Make the field a flex-container, reverse the order so label is on top.
*/

.floating-label {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the
  * pesky delay.
  */
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  /**
  * By default, the placeholder should be transparent. Also, it should
  * inherit the transition.
  */
  /**
  * Show the placeholder when the input is focused.
  */
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when
  * there's something in the input at all.
  */
}

.floating-label label,
.floating-label input {
  transition: all 0.2s;
  touch-action: manipulation;
}

.floating-label input {
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  background: none;
  color: #ffffff;
  padding: 5px 0;
}

.floating-label input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

.floating-label label {
  letter-spacing: 0.05em;
}

.floating-label input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2rem) scale(1.2);
  color: #999;
}

.floating-label ::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

.floating-label input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.floating-label input:not(:placeholder-shown) + label,
.floating-label input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  color: #ffffff;
}

/* Customize the label (the container) */

.styled-radios-label {
  font-size: 1.5em;
}

.styled-radios {
  margin-left: -15px;
  padding-top: 1em;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
}

.styled-radios .label {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999;
}

.styled-radios .label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.styled-radios .checkmark {
  height: 5px;
  width: 5px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  order: -1;
  margin-right: 10px;
}

.styled-radios .label:hover input ~ .checkmark {
  background: #ffffff;
}

.styled-radios .label input:checked ~ .checkmark {
  background-color: #ffffff;
}

.styled-radios .label input:checked ~ .text {
  color: #ffffff;
}

.difficulty {
  color: #ffffff;
}

.difficulty .locks {
  display: flex;
}

.difficulty .lock {
  display: block;
  margin-right: 5px;
}

.difficulty .lock:before {
  font-family: ionicons;
  content: "\F200";
}

.difficulty-1 .lock:first-child {
  color: #ac0609;
}

.difficulty-2 .lock:nth-child(-n+2) {
  color: #ac0609;
}

.difficulty-3 .lock:nth-child(-n+3) {
  color: #ac0609;
}

.difficulty-4 .lock:nth-child(-n+4) {
  color: #ac0609;
}

.difficulty-5 .lock {
  color: #ac0609;
}

.room {
  max-width: 300px;
  margin: 50px auto;
}

@media (min-width: 720px) {
  .room {
    max-width: none;
  }
}

.room.room--teaser {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

@media (min-width: 960px) {
  .room.room--teaser {
    flex-direction: row;
  }
}

.room.room--teaser .info {
  max-width: 100%;
  background-color: #242424;
  padding: 30px 20px;
}

@media (min-width: 960px) {
  .room.room--teaser .info {
    min-height: 480px;
    width: 410px;
  }
}

@media (min-width: 720px) {
  .room.room--teaser .info {
    padding: 35px;
  }
}

@media (min-width: 960px) {
  .room.room--teaser .info {
    padding: 60px 45px;
  }
}

@media (min-width: 960px) {
  .room.room--full {
    margin: 60px auto 0;
    width: 756px;
  }
}

.room.room--full .subtitle {
  min-height: 190px;
}

.room.room--full .difficulty {
  margin-bottom: 25px;
}

.room.room--full .title {
  margin-bottom: 32px;
}

.room.room--full .subtitle {
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.room.room--full .subtitle-element {
  margin: 0;
  margin-top: 25px;
}

@media (min-width: 720px) {
  .room.room--full .subtitle-element {
    margin-top: 0;
    padding-right: 80px;
  }
}

.room.room--full .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.room .room-info-wrapper {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: stretch;
}

@media (min-width: 720px) {
  .room .room-info-wrapper {
    flex-wrap: nowrap;
  }
}

.room .image-container {
  display: flex;
  align-items: center;
}

@media (min-width: 960px) {
  .room .image-container {
    width: 470px;
    height: 400px;
  }
}

@media (min-width: 1220px) {
  .room .image-container {
    width: 557px;
  }
}

.room .difficulty {
  margin-bottom: 25px;
}

@media (min-width: 960px) {
  .room .difficulty {
    margin-bottom: 30px;
  }
}

.room .title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

@media (min-width: 960px) {
  .room .title {
    font-size: 32px;
    margin-bottom: 10px;
  }
}

.room .subtitle {
  display: flex;
  line-height: 1;
  color: #717171;
  margin-bottom: 30px;
}

@media (min-width: 960px) {
  .room .subtitle {
    margin-bottom: 40px;
    color: #ffffff;
  }
}

.room .subtitle-element {
  margin-right: 25px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

@media (min-width: 960px) {
  .room .subtitle-element {
    font-size: inherit;
  }
}

.room .subtitle-element:before {
  margin-right: 8px;
  color: #c2c2c2;
  font-size: 16px;
}

@media (min-width: 960px) {
  .room .subtitle-element:before {
    color: inherit;
  }
}

.room .subtitle-element .text {
  padding-top: 2px;
}

.room .team-size:before {
  font-family: ionicons;
  content: "\F212";
}

.room .duration:before {
  font-family: lineicons;
  content: "\E081";
}

.room .location:before {
  font-family: ionicons;
  content: "\F1FF";
  font-size: 1.4em;
}

.room .coming-soon,
.room .fully-booked {
  display: block;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 20px;
  line-height: 1.4;
}

.room .description {
  font-size: 16px;
  line-height: 1.5;
  color: #ccc;
}

.room.room--teaser .description {
  margin-bottom: 30px;
}

@media (min-width: 960px) {
  .room.room--teaser .description {
    margin-bottom: 45px;
  }
}

.room .book-now,
.room .notify-me {
  width: 142px;
}

.usps {
  padding-bottom: 44px;
  max-width: 1140px;
}

@media (min-width: 960px) {
  .usps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.usp {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 20px 44px;
  margin-bottom: 10px;
  width: 300px;
}

@media (min-width: 720px) {
  .usp {
    width: 360px;
    margin-bottom: 50px;
  }
}

@media (min-width: 960px) {
  .usp {
    width: 300px;
    margin-bottom: 95px;
  }
}

@media (min-width: 1220px) {
  .usp {
    width: 360px;
  }
}

.usp-title {
  font-weight: bold;
  text-align: center;
  color: #3c3c3c;
  margin-bottom: 28px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@media (min-width: 720px) {
  .usp-title {
    font-size: 24px;
  }
}

.usp-body {
  line-height: 1.5;
  text-align: center;
  color: #717171;
  font-size: 14px;
}

@media (min-width: 720px) {
  .usp-body {
    font-size: 16px;
  }
}

.usp-icon {
  display: block;
  width: 120px;
  height: 174px;
  position: relative;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), #808080 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%);
}

.usp-icon:before {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 1px solid #808080;
  color: #808080;
  border-radius: 50%;
  background: #ffffff;
}

.usp--locked-in .usp-icon:before {
  font-family: lineicons;
  content: "\E08E";
}

.usp--online .usp-icon:before {
  font-family: icofont;
  content: "\EEEE";
}

.usp--moderated .usp-icon:before {
  font-family: ionicons;
  content: "\F212";
}

.testimonials {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 720px) {
  .testimonials {
    padding-bottom: 80px;
  }
}

@media (min-width: 960px) {
  .testimonials {
    padding-bottom: 180px;
    flex-direction: row;
  }
}

@media (min-width: 1220px) {
  .testimonials {
    width: 1140px;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  max-width: 555px;
  margin-bottom: 50px;
}

@media (min-width: 960px) {
  .testimonial {
    margin-bottom: 0;
    padding: 43px 35px 25px;
    height: 350px;
  }
}

@media (min-width: 1220px) {
  .testimonial {
    width: 555px;
    height: 320px;
  }
}

.testimonial-quote {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  color: #717171;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

@media (min-width: 960px) {
  .testimonial-quote {
    margin-bottom: 0;
    height: 110px;
  }
}

.testimonial-image-container {
  border-radius: 50%;
  overflow: hidden;
  width: 78px;
  height: 78px;
  margin-bottom: 27px;
}

.testimonial-image {
  width: 78px;
  height: 78px;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #717171;
  text-transform: uppercase;
}

@media (min-width: 960px) {
  .testimonial-author {
    position: absolute;
    bottom: 25px;
  }
}

.message {
  padding-top: 60px;
  text-align: center;
}

.calendar-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (min-width: 720px) {
  .calendar-title {
    margin-top: 80px;
  }
}

.calendar-container {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width: 720px) {
  .calendar-container {
    max-width: 700px;
  }
}

.calendar-container .fully-booked {
  padding-top: 100px;
  font-size: 1.2em;
}

.calendar {
  display: inline-block;
  margin: 60px auto;
  padding-bottom: 200px;
}

.calendar .week,
.calendar .head {
  display: flex;
  max-width: 300px;
}

@media (min-width: 720px) {
  .calendar .week,
  .calendar .head {
    max-width: 700px;
  }
}

.calendar .day {
  width: 108px;
  height: 56px;
  border: solid 1px #373737;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

@media (min-width: 720px) {
  .calendar .day {
    height: 106px;
  }
}

.calendar .day.empty {
  opacity: 0.15;
  pointer-events: none;
}

.calendar .day .day-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 720px) {
  .calendar .day .day-link {
    width: 45px;
    height: 45px;
  }
}

.calendar .day .day-link:hover {
  background: #ffffff;
  color: #242424;
}

.calendar .day .day-link:active {
  background: transparent;
  border: solid 1px #808080;
  color: #ffffff;
}

.calendar .day .day-link.active {
  background: #ffffff;
  color: #242424;
}

.calendar .day.today .day-link {
  border: solid 2px #ac0609;
}

.calendar .day.last {
  color: #ac0609;
}

.calendar .day.last:after {
  content: "1 AVAILABLE";
  width: 100%;
  display: none;
  position: absolute;
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  font-size: 6px;
  font-weight: bold;
  color: #ffffff;
  padding: 3px;
}

@media (min-width: 720px) {
  .calendar .day.last:after {
    font-size: 9px;
    display: block;
  }
}

.calendar .head .day {
  opacity: 0.5;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.calendar .details {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.2s ease, opacity 0.2s ease;
}

.calendar .details.open {
  max-height: 1224px;
  opacity: 1;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.calendar .details-wrapper {
  border: solid 1px #373737;
  background-color: #333333;
  max-width: 300px;
}

@media (min-width: 720px) {
  .calendar .details-wrapper {
    padding: 30px;
    max-width: 700px;
  }
}

.calendar .details-inner {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 35px 35px 17px;
}

.calendar .details-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #242424;
  margin-bottom: 20px;
}

.calendar .reservation-list {
  max-height: 1032px;
  overflow-y: auto;
}

.calendar .reservation {
  padding-top: 5px;
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  color: #3c3c3c;
  border-top: 1px solid #e0e0e0;
}

@media (min-width: 720px) {
  .calendar .reservation {
    flex-direction: row;
    padding-top: 0;
  }
}

.calendar .reservation .time,
.calendar .reservation .count {
  display: block;
  text-align: center;
  padding: 3px 0;
}

.calendar .reservation .time {
  font-size: 12px;
  font-weight: bold;
  color: #3c3c3c;
}

.calendar .reservation .time:before {
  font-family: icofont;
  content: "\EEDC";
  font-size: 14px;
  color: #3c3c3c;
  margin-right: 7px;
}

.calendar .reservation .count {
  font-size: 10px;
  letter-spacing: 1.7px;
  color: #9f9f9f;
}

@media (min-width: 720px) {
  .calendar .reservation .count {
    text-align: left;
  }
}

.calendar .book-button {
  width: 100px;
  height: 30px;
  margin-bottom: 5px;
}

@media (min-width: 720px) {
  .calendar .book-button {
    width: 140px;
    height: 50px;
    margin-bottom: 0;
  }
}

.pricing-table-cell {
  width: 96px;
  text-align: center;
  padding: 5px 0;
}

.pricing-table-cell:first-child {
  text-align: left;
}

.pricing-table-head .pricing-table-cell {
  padding-top: 0;
}

.pricing-table-head {
  font-weight: bold;
}

.pricing-table-body {
  font-weight: normal;
}

.pricing-table-body .pricing-table-row:not(:first-child) {
  border-top: 1px solid #333;
}

.pricing-table-body .pricing-table-cell:first-child {
  padding-left: 15px;
}

.booking-form {
  width: 280px;
  margin: 30px auto;
}

@media (min-width: 720px) {
  .booking-form {
    width: 500px;
  }
}

.booking-form .highlight {
  color: #ac0609;
}

.booking-form .cta-button {
  font-size: 24px;
}

.booking-title {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-top: 51px;
  margin-bottom: 10px;
  line-height: 1.25;
}

.booking-title .highlight {
  color: #ac0609;
}

.terms {
  display: flex;
  margin-top: 10px;
}

.terms-checkbox {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.terms-label a {
  text-decoration: underline;
}

.notify-terms {
  margin-bottom: 25px;
}

@media (min-width: 720px) {
  .notify-terms {
    margin-bottom: 65px;
  }
}

.change-link-container {
  text-align: center;
  margin-bottom: 51px;
  margin-top: 20px;
}

.change-link-container .change-link:hover {
  color: #ac0609;
}

.change-link-container .change-link:active {
  color: #7b0406;
}

.required-message {
  font-size: 0.8em;
  margin: 20px 0;
}

.payment-instructions {
  line-height: 1.4;
  margin: 20px 0 40px;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thankyou-message {
  text-align: center;
  margin: 30px auto;
}

.thankyou-back-to-front {
  margin: 30px auto;
}

.cookie-consent {
  position: fixed;
  bottom: 0;
  background: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #ac0609;
  flex-direction: column;
  padding: 10px 0;
  text-align: center;
  line-height: 1.2;
}

@media (min-width: 960px) {
  .cookie-consent {
    text-align: left;
    height: 50px;
    flex-direction: row;
    padding: 0;
  }
}

.cookie-consent a {
  text-decoration: underline;
  display: block;
  text-align: center;
  margin: 10px 0;
}

@media (min-width: 960px) {
  .cookie-consent a {
    margin: 0;
    display: inline;
  }
}

.cookie-consent__agree {
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  padding: 4px 9px;
  cursor: pointer;
  display: block;
}

@media (min-width: 960px) {
  .cookie-consent__agree {
    display: inline-block;
  }
}

.cookie-consent-padding {
  height: 50px;
}

html {
  scroll-behavior: smooth;
}

.notify-email {
  margin-bottom: 60px;
}

@media (min-width: 720px) {
  .notify-email {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

.styled-radios .label:hover {
  color: #fff;
}

.styled-radios .label:hover #terms {
  border: solid 1px #ac0609;
}

.styled-radios .label:active {
  color: #ac0609;
}

.notified-users {
  overflow: hidden;
}

.notified-user {
  margin: 10px 0;
}

.all-reservations {
  display: flex;
  flex-direction: column;
}

.admin-reservation {
  padding: 5px 15px;
  display: flex;
  border-bottom: 1px solid #fff;
}

.confirm-reservation {
  margin-left: auto;
}

.promo-btn-msg {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.menu-item:hover {
  color: #fff;
}

.booked {
  color: orange;
}

.available {
  color: green;
}

.terms-container {
  width: 280px;
  margin: 50px auto;
}

@media (min-width: 720px) {
  .terms-container {
    width: 700px;
  }
}

.inst-title {
  font-size: 23px;
}

.needs li {
  margin: 10px 0;
}

.needs li:last-child {
  margin-bottom: 30px;
}

.terms-container ul,
.needs ul {
  list-style: initial;
}

.terms a {
  text-decoration: underline;
}

.logoutbtn:hover {
  color: #c7070a;
}

.footer-link {
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 7px;
}

@media (min-width: 720px) {
  .footer-link {
    margin-bottom: 0;
  }
}

.footer-link:hover {
  color: #ac0609;
}

.footer-link:active {
  color: #7b0406;
}

.hidden {
  display: none;
}

.logoutbtn {
  margin-left: auto;
  margin-right: 30px;
}

.terms-container h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.terms-container h2 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: bold;
}

.terms-container p {
  margin-bottom: 15px;
}

.terms-container li {
  margin-bottom: 10px;
}

.edit-room {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid red;
}

.edit-room textarea {
  width: 400px;
  height: 100px;
  margin-left: 10px;
}

.edit-room div {
  display: flex;
  margin: 10px;
}

.edit-room input {
  max-width: 200px;
  margin-left: 10px;
  margin-right: 5px;
}

.edit-room input[type=number] {
  width: 50px;
}

.update-room {
  margin: 20px auto;
  width: 100px;
  height: 30px;
}

.edit-room-price {
  margin-left: 50px;
}

.last-update {
  margin: 0 auto;
  margin-bottom: 15px;
}

