$line-calendar: "\e075";
$line-clock: "\e081";
$line-lock: "\e08e";
$line-magnifier: "\e090";
$line-user: "\e005";

$ion-controler: "\f43a";
$ion-location: "\f1ff";
$ion-lock: "\f200";
$ion-team: "\f212";

$icofont-clock: "\eedc";
$icofont-computer: "\eeee";
$icofont-facebook: "\ed37";
$icofont-fun: "\eafc";
$icofont-instagram: "\ed46";
$icofont-keyboard: "\ea40";

@mixin line($name) {
  font-family: lineicons;
  content: $name;
}

@mixin ion($name) {
  font-family: ionicons;
  content: $name;
}

@mixin icofont($name) {
  font-family: icofont;
  content: $name;
}
