%visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
  border: 0;
  padding: 0;
  margin: 0;
}

%container {
  margin: 0 20px;
  overflow: hidden;

  @include breakpoint($tab) {
    margin: 0 auto;
    width: $tab - 40;
  }

  @include breakpoint($desk) {
    width: $desk - 60;
  }

  @include breakpoint($wide) {
    width: $wide - 80;
  }

  @include breakpoint($superwide) {
    width: $superwide - 80;
  }
}

%cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 28px;
  background-color: $red;
  border: solid 2px $red;
  color: $white;

  &:hover {
    background: darken($red, 20%);
    border: solid 2px darken($red, 20%);
    cursor: pointer;
  }

  &:active {
    background: transparent;;
    border: solid 2px $grey;
    color: #f60b0e;
  }
}

%checkbox-things {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  align-items: center;

  a:hover {
    color: $red;
  }

  a:active {
    color: darken($red, 10%);
  }

  input {
    @extend %visually-hidden;
  }

  .checkmark {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    box-shadow: none;
    background: #fff;
    border-radius: 3px;
    position: relative;
    order: -1;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      padding-left: 1px;
      width: 80%;
      display: none;
    }
  }

  input:not(:checked) ~ .checkmark:hover svg {
    display: block;

    path {
      stroke: #333;
    }
  }

  input:checked ~ .checkmark {
    background: $red;

    svg {
      display: block;

      path {
        stroke: #fff;
      }
    }
  }
}
