$red: #ac0609;
$redHighlight: rgba(246,11,14,0.5);
$white: #ffffff;
$light-grey: #dcdcdc;
$grey: #808080;
$dark-grey: #777777;
$darker-grey: #717171;
$offblack: #404040;

$header-bg: #050505;
$body-bg: #1b1b1b;

// Breakpoint variables
$screen-xs: 320px;
$screen-sm: 720px;
$screen-md: 960px;
$screen-lg: 1220px;
$screen-xl: 1440px;
$mob: $screen-xs;
$tab: $screen-sm;
$desk: $screen-md;
$wide: $screen-lg;
$superwide: $screen-xl;
